.cart-dropdown-container {
  display: flex;
  width: 300px;
  background-color: whitesmoke;
  flex-direction: column;
  overflow: scroll;
  height: 400px;
  position: absolute;
  right: 0px;
  margin-right: 40px;
  z-index: 1;
  border: 1px solid gray;
  h3 {
    margin: 0;
    padding: 10px;
  }
  .dropdown-item {
    flex: 7;

    padding: 0px 20px;
    height: 300px;
    overflow: scroll;
  }
  button {
    flex: 1;
    background-color: black;
    color: white;
    font-size: larger;
  }
}

.cart-dropdown-container::-webkit-scrollbar {
  display: none;
}
.dropdown-item::-webkit-scrollbar {
  display: none;
}
