.navigation-container {
  display: flex;
  width: 100%;
  background-color: whitesmoke;
  justify-content: space-between;
  box-sizing: border-box;
  .nav-link-logo {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    .logo {
      display: flex;
      color: white;
      background-color: black;
      padding: 10px;
    }
  }
  .navlink-container {
    display: flex;
    padding: 10px;
    .nav-link {
      padding: 5px;
      font-weight: bold;
      color: rgb(77, 77, 77);
      text-decoration: none;
      margin: 0 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
    }
    .nav-link:hover {
      border-bottom: 2px solid black;
    }
  }
}
